body {
	background: #1d1d1d;
}

.heading {
	text-align: center;
	color: white;
	left: 25%;
	font: 780 5em 'Helvetica Neue', sans-serif;
	text-transform: uppercase;
}
.heading .letter {
	display: inline-block;
	transform: translateY(100%);
	transition-duration: 600ms;
	opacity: 0.4;
}
.heading .word {
	display: inline-block;
	overflow: hidden;
	transform: translateY(30%);
	transition-duration: 1500ms;
	transition-timing-function: ease;
	transition-property: all;
}
.heading.show .enclose {
	transform: translateY(0%);
}
.heading.show .letter {
	transform: translateY(0%);
	opacity: 1;
}
